
{% load static %}


<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "deps/css/twits.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    
    <div class="topnav">
        <a href="{% url "add_tweet" %}">Create Tweet</a>
        <a href="#">News</a>
        <a class="active" href="{% url "index" %}">Home</a>
    </div>
    
    <h1>{{ title }}</h1>    
{% block content %}{% endblock  %}

</body>

<footer>
    {% comment %} <script src="scripts.js"></script> {% endcomment %}
</footer>
</html>












